<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUT</title>
</head>
<body>
  <h2>About</h2>
  <p>
    <span>
      <a href="{% url 'index' %}">Index</a>
    </span>
    <span>
      <a href="{% url 'about' %}">About</a>
    </span>
    <span>
      {% url 'contact' as ct %}
      <a href="{{ct}}">Contact</a>
    </span>
  </p>
</body>
</html>