<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTACT</title>
</head>
<body>
  <h2>Contact page</h2>
  <p>
    <span>
      <a href="{% url 'index' %}">Index</a>
    </span>
 
    <span>
      {% url 'about' as ab %}
      <a href="{{ab}}">About</a>
    </span>
  
    <span>
      <a href="{% url 'contact' %}">Contact</a>
    </span>
  </p>
</body>
</html>